</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Blog Website ❤️ </p>
  </div>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="app.js"></script> -->
</div>
</body>
</html>
